/* Estilo de la clase nav-link */
.nav-link {
  position: relative;
  display: inline-block;
  padding: 5px 10px; /* Un poco de padding para darle espacio al texto */
  color: white; /* El color del texto inicial */
  text-decoration: none; /* Quitamos cualquier subrayado que venga por defecto */
  overflow: hidden; /* Esto es importante para que el recuadro no se desborde */
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%; /* Comienza con un ancho de 0% */
  height: 100%; /* El recuadro tiene la misma altura que el texto */
  background-color: white; /* Fondo blanco del recuadro */
  transition: width 0.3s ease; /* Animación suave para expandir el recuadro */
  z-index: -1; /* Coloca el recuadro detrás del texto */
}

.nav-link:hover::before {
  width: 100%; /* Al hacer hover, el recuadro se expande de izquierda a derecha */
}

.nav-link:hover {
  color: #051650; /* Cambiar el color del texto al hacer hover */
}
